<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Red Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>

    <div class="container container-fluid">
        <div class="row">
            <h3>{{mars.title}}</h3>
        </div>
        <div class="row">
            <p>{{mars.paragraph}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3>Featured Mars Image</h3>
            <img id="vis-image" src="{{mars.featuredimage}}" alt="featured">
        </div>
        <div class="col-md-4">
            <h5>Mars Facts</h5>
            <p>
                {{mars.table | safe}}
            </p>
        </div>
    </div>

    <div class="container container-fluid">
        <h3>Mars Hemispheres</h3>
        {% for item in mars.hemispheres %}
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="{{item.img_url}}" class="card-img-top" alt="{{item.title}}">
                    <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>